@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

/* Defining variables for colors */
:root {
  --not-black: #2c2f33;
  --almost-not-black: #23272a;
  --dark-blue: #7289da;
  --white: #fff;
  --slate-blue: #6a5acd;
  --steel-blue: #4682b4;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
}

.App {
  height: 100vh;
  background-color: var(--not-black);
}

.heading {
  display: flex;
  justify-content: center;
  color: var(--white);
  font-weight: 600;
  font-size: 4em;
}

.main p {
  margin: 0;
}

/* Form Styles */

.todo-form {
  margin: 30px;
  display: flex;
  justify-content: center;
}

.form input[type="text"] {
  background-color: var(--slate-blue);
  border: none;
  color: white;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
}

::placeholder {
  color: white;
  text-align: center;
}

.form button {
  border-radius: 5px;
  border: 1px solid var(--steel-blue);
  background-color: var(--steel-blue);
  padding: 5px 7px;
  color: white;
  transition: 0.5s ease;
}

.form button:hover {
  cursor: pointer;
  border: 1px solid var(--slate-blue);
  background-color: var(--dark-blue);
  color: white;
}

/* Task styling */

.completed {
  background-color: green;
  text-decoration: line-through;
}

.not-completed {
  background-color: transparent;
  text-decoration: none;
}

.todo {
  font-weight: 400;
  font-size: 2em;
  margin: 20px;
}

.task {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
}

.task > * {
  margin-left: 5px;
}

.task button {
  background-color: var(--steel-blue);
  border: 1px solid var(--steel-blue);
  padding: 3px 10px !important;
  color: white;
  font-weight: 300;
  border-radius: 3px;
  transition: 0.5s ease;
}

.task button:hover {
  cursor: pointer;
  border: 1px solid var(--slate-blue);
  background-color: var(--dark-blue);
  color: white;
}

.checkbox-styling {
  height: 20px;
  width: 20px;
  background-color: var(--slate-blue);
}

/* Enter App Styling */

.enter-app {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--almost-not-black);
}

.enter-app button {
  border: none;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  height: 20vh;
  width: 20vw;
  font-size: 3em;
  border: 2px solid white;
  transition: 0.5s ease;
}

.enter-app button:hover {
  cursor: pointer;
  border: 2px solid var(--slate-blue);
  background-color: var(--dark-blue);
  color: white;
}
